<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klinker.android.dream">

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" >

        <service
            android:name=".DreamSceneService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE" >

            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>

    </application>

</manifest>
